@import url("https://fonts.googleapis.com/css2?family=Glegoo:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-bangla: "Anek Bangla", "sans-serif";
  --font-glegoo: "Glegoo", "sans-serif";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-glegoo) !important;
}
.kite {
  transform: rotate(45deg) scale(0.9);
  border: 2px solid rgba(19, 128, 134, 0.18);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.45s ease;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-slide-active .kite {
  transform: rotate(45deg) scale(1);
  border-color: #138086;
  box-shadow: 0 18px 40px rgba(19, 128, 134, 0.18);
}

.swiper-slide:not(.swiper-slide-active) .kite {
  opacity: 0.8;
}

.swiper-wrapper {
  align-items: center;
}
